<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
  $(function () {
    $( ".datepicker" ).datepicker({
      dateFormat: 'dd/mm/yy',
      minDate: '-1w',
      maxDate: '+1w'
    });
  });
</script>

<%= form_for @article, :html => { :multipart => true } do |f| %>
 <div class="row">

  <div class="form-group col-sm-3"> 
    <%= f.label (:title) %><br>
    <%= f.text_field :title, required: true, class: 'form-control' %>
  </div><br><br><br><br>
 
  <div class="form-group col-sm-3">
    <%= f.label :text %><br>
    <%= f.text_area :text, required: true, class: 'form-control' %>
  </div><br><br><br><br><br>

  <div class="form-group col-sm-3">
    <%= f.label :Will_Publish_on %><br>
    <%= f.text_field :posted_on, class: 'datepicker form-control', required: true %>
  </div><br><br><br><br>

  <div class="form-group col-sm-3">
    <% if @article.images.first.id == nil%>
      <%= f.fields_for :images do |ff|%>

        <%= ff.label :Image %><br>
        <%= ff.file_field :photo, class: "form-control", required: true %><br>
      <% end %>
    <% else %>
      <%= image_tag @article.images.first.photo.url(:small) %>
    <% end %>
  </div>

  </div><br><br><br><br>

  <div class="form-group col-sm-4">
    <%= f.submit 'Submit', class: 'btn btn-default' %>
  </div>
 </div>
<% end %>
