<dl>
  <p><kbd>Title:</kbd>->
  <%= @article.title %></p>

  <p><kbd>Text:</kbd>->
  <%= @article.text %></p>

  <p><kbd>Posted Date:</kbd>
  -><%= @article.posted_on %></p>

  <dt><kbd>Photo:</kbd></dt>
  <% if @article.images.present? %>
    <%= image_tag @article.images.last.photo.url(:small) %>
  <% end %>
</dl>

<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
 
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', :back %>