<dl>
  <dt><kbd>Title:</kbd></dt>
  <p class="lead">-><%= @article.title %></p>

  <dt><kbd>Text:</kbd></dt>
  <p class="lead">-><%= @article.text %></p>


  <dt><kbd>Posted Date:</kbd></dt>
  <p class="lead">-><%= @article.posted_on %></p>
</dl>

<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
 
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>