<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>

<body>
<%= render 'layouts/messages' %>
<%= yield %>

<% if user_signed_in? %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Home', root_path ,class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Article\'s Index', articles_path %></li>
          <li><%= link_to 'Create New article', new_article_path %></li>
          <li>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" id="query" class="form-control" placeholder="Search">
              </div>
            </form>
          </li>
          <li> <%= link_to "Search", search_path %></li>
          <li> <%= link_to "My Article", home_articles_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign out", destroy_user_session_path, class: "navbar-brand", :method => :delete %></li>
        </ul>  
      </div>
    </div>
  </nav>

<% end %>

</body>
</html>

<script>
  $(function() {
    $("#query").autocomplete({
      source: "/articles/autocomplete"
    });
  });
</script>

